#home page -> link to calculator page
requestHandler.js : 


   const requestHandler = (req, res) => {
	console.log(req.url, req.method);
   };

   exports.requestHandler = requestHandler; //object

app.js :

   const http = require("http");
   const { requestHandler } = require("./requestHandler");

   const server = http.createServer(requestHandler);

   const PORT = 3052;
   server.listen(PORT, () => {
      console.log(`server is running on : http://localhost${PORT}`);
   });

requestHandler.js :

   const requestHandler = (req, res) => {
	console.log(req.url, req.method);

	if (req.url === "/") {
		res.setHeader("Content-Type", "text/html");
		res.write(`
			<html>
			<body>
				<h1>Welcome to Calculator</h1>

				<a href="/calculator">Go to Calculator</a>
			</body>
			</html>
		`);
		return res.end();
	}
	res.setHeader("Content-Type", "text/html");
	res.write(`
			<html>
			<body>
				<h1>Error : 404</h1>

				<a href="/">Go to Home</a>
			</body>
			</html>
		`);
	return res.end();
   };

   exports.requestHandler = requestHandler; 

# /calculator page - 2 number inputs, sum

const requestHandler = (req, res) => {
	console.log(req.url, req.method);

	// #home page -> link to calculator page
	if (req.url === "/") {
		res.setHeader("Content-Type", "text/html");
		res.write(`
			<html>
			<body>
				<h1>Welcome to Calculator</h1>

				<a href="/calculator">Go to Calculator</a>
			</body>
			</html>
		`);
		res.end();
		return res.end();
	} else if (req.url.toLowerCase() === "/calculator") {
		res.setHeader("Content-Type", "text/html");
		res.write(`
			<html>
			<body>
				<h1>Entr 2 numbers to add  : </h1>
				<form action="/calculate-result" method="POST">
					<input type="text" placeholder="first" name="first"/>
					<input type="text" placeholder="second" name="second"/>
					<input type="submit" value="Sum"/>
				</form>
			</body>
			</html>
		`);
		res.end();
		return res.end();
	}
	res.setHeader("Content-Type", "text/html");
	res.write(`
			<html>
			<body>
				<h1>Error : 404</h1>

				<a href="/">Go to Home</a>
			</body>
			</html>
		`);
	res.end();
	return res.end();
};

exports.requestHandler = requestHandler; //object


#  click on sum -> /calculate-result

#  request goes to server

# separate module for addn

# separate module for incoming requests

# /calculate-result -> parse user input, use addn module, display result on new html page
